<div class="container">	
    <div *ngIf="selectedEvent" class="selectedevent">
       <div class="row">
        <div class="card text-xs-center">
             <div class="card-block">
                <div class="card-header">
                <fieldset class="form-group  col-md-12">
                  {{selectedEvent.EventName}}
                    </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedEvent.Id}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedEvent.DFC | date}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedEvent.DLC | date}} 
                </fieldset>
                <fieldset class="form-group col-md-3">
                        {{selectedEvent.User}}
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>Name: </label>
                      <input [(ngModel)]="selectedEvent.EventName" placeholder="Name"/>
                </fieldset>
                <fieldset class="form-group  col-md-12">
                      <label>Date: </label>
                      <input [(ngModel)]="selectedEvent.EventDate" placeholder="Date" />
                  </fieldset>
                  <fieldset class="form-group  col-md-12">
                        <label>Description: </label>
                        <input [(ngModel)]="selectedEvent.Descrip" placeholder="Description" />
                </fieldset>
                <fieldset class="form-group  col-md-12">
                        <label>StartTime: </label>
                        <input [(ngModel)]="selectedEvent.StartTime" placeholder="Start Time" />
                </fieldset>
                <fieldset class="form-group  col-md-12">
                        <label>EndTime: </label>
                          <input [(ngModel)]="selectedEvent.EndTime" placeholder="End Time" />
                </fieldset>
                <fieldset class="form-group  col-md-12">
                        <label>Map Address: </label>
                        <input [(ngModel)]="selectedEvent.MapAddress" placeholder="Map Address" />
                </fieldset>
                <button class="btn btn-warning" (click)="onDeSelect()">Back</button>
                <button class="btn btn-success" (click)="onDeSelect()">Save</button>
</div></div></div></div></div>

<div *ngIf="!selectedEvent">
  <div class="row">
    <div class="card text-xs-center">
          <div class="card-block">
              <label>Search Events by Id or Text:</label> <input #eventSearch (input)="term$.next($event.target.value)" placeholder="Enter Id or Text" />
              <button class="btn btn-danger" (click)="add(eventSearch.value)"> Add </button>
          </div>
           <div *ngIf="!appservice.admin; else admin_data">
                <table class="table table-striped table-bordered">
                   <thead><tr>
                      <th>Id</th>
		              <th>Name</th>
		              <th>Phone</th>
		              <th>StartTime</th>
		              <th>SiteName</th>
		              <th>MapAddress</th>
		              <th></th>
                   </tr>
                   </thead>
                   <tbody>
	                 <tr *ngFor="let event of events" (click)="onSelect(event)">
                        <td><b>{{event.Id}}</b></td>
                        <td>{{event.EventName}} </td>
                        <td>{{event.Phone}}<br>{{event.EventDate | date}}</td>
                        <td>{{event.StartTime}}<br>{{event.EndTime}} </td>
                        <td>{{event.SiteName}} </td>
                        <td> {{event.MapAddress}}</td>
                        <td><button class="btn-xs btn-danger" (click)="delete(event); $event.stopPropagation()">x</button></td>
                </tr>
           		 </tbody>
            	</table>
            	</div>
              <ng-template #admin_data>
                   <table class="table table-striped table-bordered">
                   <thead><tr>
                      <th>Id</th>
		              <th>Dates</th>
		              <th>User</th>
		              <th>Did</th>
		              <th>Fid</th>
		              <th>Route</th>
		              <th>Lat</th>
		              <th>Type</th>
		             <th>Button</th>
                   </tr></thead><tbody>
                 <tr *ngFor="let event of events" (click)="onSelect(event)">
                        <td><b>{{event.Id}}</b></td>
                        <td class="DFC">{{event.DFC | date}}<br>{{event.DLC | date}}</td>
                        <td class="User">{{event.User}}<br>{{event.Country}} </td>
                        <td class="Did">{{event.Did}}<br><b>{{event.Pid}}</b></td>
                        <td class="Did">{{event.Fid}}<br>{{event.ImgE}}</td>
                        <td class="Route"> {{event.Route}}<br>{{event.GeoSource}}</td>
                        <td class="Lat"> {{event.Lat}}<br>{{event.Lng}}</td>
                        <td class="GeoType"> {{event.GeoType}}<br>{{event.GeoQual}}</td>
                        <td><button class="btn-xs btn-danger"
                    (click)="delete(event); $event.stopPropagation()">x</button></td>
                </tr>
            </tbody></table>
         </ng-template>
            
<!--                <td class="Id"><b>{{event.Id}}</b></td> -->
<!--                  <td class="Invitation">{{event.Website}}</td> -->
<!--                              <td class="SearchTerms"> {{event.SearchTerms}}</td> -->
<!--                         <td class="Descrip"> {{event.Descrip}}</td> -->
<!--                         <td><button class="btn-xs btn-danger" -->
<!--                     (click)="delete(event); $event.stopPropagation()">x</button></td> -->
        </div>
</div></div></div>


